.active {
  border: 1px solid blue;
  cursor: default!important;
}

img {
  max-width: 150px;
}

.character-name {
  font-weight: bold;
}

ul li {
  list-style-type: none;
}

.italic {
  font-style: italic;
}

